<h1>New division</h1>

<form action="/wizard_divide">
  <label for="div_this">
    Divide this:
  </label>
  <input id="div_this" name="first_num" text="text">

  <label for="div_that">
    by this:
  </label>
  <input id="div_that" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
